/**
 * Inspired by the Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

.scroll {
  width: 100%;
  overflow-x: auto;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: Menlo, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0 1.625rem;
  overflow: auto;
  border-radius: 0.3em; }

pre[class*="language-"] {
  background: #282a36; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4; }

.token.punctuation {
  color: #89DDFF; }

.namespace {
  opacity: .7; }

.token.number {
  color: #F78C6C; }

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b; }

.token.string {
  color: #C3E88D;
}

.token.attr-name {
  color: #FFCB6B;
}

.token.tag .token.class-name, .token.tag .token.tag {
  color: #F07178;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.operator {
  color: #89DDFF;
}

.token.atrule,
.token.function,
.token.class-name {
  color: #82AAFF; }

.token.attr-value, .token.attr-value .token.punctuation {
  color: #C3E88D;
}

.token.keyword, .token.boolean {
  color: #C792EA; }

.token.regex,
.token.important {
  color: #ffb86c; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

code.language-text {
  background: rgba(0,0,0,.05);
  font-family: Menlo,monospace;
  color: rgba(0,0,0,.8);
  padding: 0 3px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
}
